*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.projet{
    display: flex;
    gap: 9ch;
}
#moi{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    gap: 10ch;
    padding-top: 8ch;
    background-color: rgb(26, 25, 25);
    color: rgb(255, 255, 255);
    .v{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 3ch;
    }
    .h{
        font-size:6ch;
        text-align: center;
        color: rgb(252, 158, 216);
    }
}