*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
 .in{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10ch;
    padding-right: 6ch;
    gap:5ch;
    font-size:1.4ch;
 }
.ho{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 25ch;
    padding-right: 25ch;
    text-align: center;
    padding-top: 8ch;
    gap:3ch;

}
.icone{
    padding-top:5ch ;
    gap: 4ch;
}
.pa{
    padding-top: 3ch;
    padding-right:3ch;
}
h5{
    font-size: large;
    padding-top: 3ch;
}
#pa{
    padding-right: 0ch
}
h2{
    font-size: xxx-large;
}

