*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.services{
    text-align: center;

}
#services{
    padding:50px ;

}
.in{
    display: flex;
}
.icone{
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
    text-align: left;
    padding-top: 30px;
}
.pa{
    
    text-align: left;
    padding-left: 3px;
    padding-top: 5px;
}
.d{
padding-top: 20px;
padding-left:90px ;
padding-right:90px;
margin-left: 200px;
margin-right: 200px;
}