*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}
.d{
padding-top: 20px;
padding-left:70px ;
padding-right:70px;
margin-left: 200px;
margin-right: 200px;

}

.conteneur{
padding: 50px;
background:-o-repeating-linear-gradient(to bottom, pink
 25%, red 75%);
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 display: flex;
 flex-direction: column;
 gap: 3ch;
}
.vi{
    display: flex;
    justify-content: center;
    text-align: center;
}

.lien{
    padding: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.bon{
    padding-top:  20px;
    margin-bottom: 0px;
    display: flex;
justify-content: space-between;
}
.h2{
    padding-top:  20px;
    margin-left: 5px;
    text-align: left;
}

.vid{
    display: flex;
    text-align: center;
    justify-content: center;
 
}
.rea {
    text-align: center;
    align-items: center; 
    background-color: rgb(218, 199, 236);
    margin-bottom: -155px ;
    padding-bottom: 130px;
    font-size: large;
    padding-top:5ch;

    
} 
button{
    color: aliceblue;
    background-color: blueviolet;
    border-radius: 100%;
    padding-top:2ch ;
    padding-bottom:2ch;
    padding-left: 2ch;
    padding-right: 2ch;
    border-style: none;
}
.lien{
    font-size: 1.4ch;
}
.h2{
     font-size: 2ch;
}
.am{

}


   