*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}
.temoignage{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    font-size:large;
}
.icone{
    display: flex;
    align-items: center;
    gap: 130px;
    text-align: center;
    padding-left: 70px;
    padding-right: 70px;
}
.voir{
    display: flex;
    align-items: center;
    gap: 10px;
}
.img{
    border-radius: 100%;

}
.p{display: flex;
    flex-direction: column;
color: rgb(77, 15, 71);
padding-top: 50px;
gap: 30px;
}
span{
    color: black;
}
.fin{
background-color: rgb(230, 215, 245);
min-height:450px ;
}