*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family:Montserrat ;
}
.tout{
    display: flex;
    padding-left: 0;
    margin-left: 0;
    background-color: aqua;
    gap: 100px;
    padding-right:140px ;
    text-align: left;
    align-items: center;
    height: 632px;
}
.form, .contact{
    
}