*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Montserrat;

}
.barre_de_navigation{
    display: flex;
    background-color: oklab(99.405% 0 -0.00011);
    justify-content: space-between;
  align-items: center;
    padding-left: 135px;
    padding-right: 115px;
    padding-bottom: 2ch;
}
.partie{
display: flex;
gap: 30px;
font-size: large;
}
.réalisation{
    display: flex;
    text-align: left;
    padding-left: 10ch;
    padding-bottom: 0ch;
    gap: 13ch;
}
.para{
    display: flex;
    flex-direction: column;
    width: 500px;
 
}
.nom{
    display: flex;
    flex-direction: column;
    gap: 2ch;
    padding-top: 5ch;
    padding-left: 3ch;
    margin-top: 4ch;
}
body{
    height: 200px;
    background-color: rgb(250, 234, 252);
    margin: auto;
    padding: auto;
    padding-top: 0ch;
}
.image{
margin-right: 10ch;

}
#cv{
    margin-left: 3ch;
    padding-left: 4ch;
    padding-right: 5ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    border-radius: 10px;
    font-size: large;
}
.boutton{
    display: flex;
    gap: 2ch;
    margin-top: 2ch;
}
#réel{
    padding-right: 2ch;
    padding-left: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    background-color: rgb(250, 247, 243);
    border-radius:10px;
    font-size: large;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
}
span{
    color: rgb(172, 98, 241);
    font-size:1.7cap
}
.e{
    font-size:2cap 
}
.paragraphe{
    font-size: large;
}
#btn-1{
     padding-right: 2ch;
    padding-left: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    background-color: rgb(250, 247, 243);
    border-radius:10px;
    font-size: large;
    background-color: rgb(56, 56, 56);
    color: rgb(255, 255, 255);
}
.img{
    background-color:  oklab(99.405% 0 -0.00011);
    padding-left: 28ch;
}
.logo{
    padding-left: 0ch;
}