*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Montserrat;

}
.barre_de_navigation{
    display: flex;
    background-color: oklab(99.405% 0 -0.00011);
    justify-content: space-between;
  
    gap: px;
    padding-left: 144px;
    padding-right: 120px;




}
.partie{
    display: flex;
    gap: 30px;
    

}
parent1{
    margin:0 ;
    padding: 0;
    border-radius: 5dvh;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    padding-bottom: 0%;

}
.boutton{
    display: flex;
    padding: 20px 50px;
    gap: 20px;
    justify-content: left;
    padding-bottom: 40px;
    font-size: 16px;
    cursor: pointer;

}
.btn{
    margin-top: 5px;
}
.logo{
    margin-top: 0px;
    padding-top: 29px;
}
.réalisation{
    display: flex;
    padding-bottom: 1.5% ;
    background-color: rgb(252, 225, 243);
    text-align: left;
    padding-left: 80px;padding-top: -100ch;
margin-bottom:0px
  
}
.para{
    height:auto;;
    width: 76%;
    text-align: left;
    margin-top:70px ;
padding-left: 10px;
display: flex;
flex-direction: column;
gap: 10px;
    
    

}
.image{
    padding-left: auto;
    padding-right:240px;
height: 100px;
padding-top: 15px;
margin-left: 40px;


img{
    
}
.par{
justify-content: center;


       
}
.orga{
    display: flex;
    justify-content: center;
    gap: 140px;
    padding-top: 40px;
    margin-right: 200px;
    margin-left: 200px;
    

}
.de{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
       
    
}
.di{
     padding-left: 100px;
        padding-right: 100px;
}
.img{
    margin: 0%;
   padding-right:100px ;
    display: flex;

gap: 20px;
}
#btn-1{
    color: rgb(245, 248, 252);
    background-color: black;
    border-color: black;
    border-radius:5px ;
    margin: 20px;
     padding: 15px;
    margin-left:20px ;
     
}
#cv{
    color: rgb(244, 247, 250);
    background-color: black;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
}
.or{

}


#réel{
    background-color: rgb(255, 255, 255);
    border-color: rgb(131, 100, 126);
    border-radius: 5px;
    padding: 10px;
}
.nom{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left:50px ;
    padding-top: 0px;
}
.body{
    padding: 0%;
}
body{
    height: auto;
    width: auto;
}
h1{
    font-size: 4ch;
}
span{
    color: rgb(105, 81, 245);
}
.x{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0ch;
}
.mi{
    padding-top: 29px;

}
.c{
    padding-right: 0ch;
}
.s{
    padding-top: 2ch;
}
progress{

}



