*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;

}
.barre_de_navigation{
    display: flex;
    background-color: rgb(255, 250, 252);
    justify-content: space-between;
    align-items: center;

}
.partie{
    display: flex;
    gap: 15px;
    

}
parent1{
    margin:0 ;
    padding: 0;
    border-radius: 5dvh;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    padding-bottom: 0%;

}
.boutton{
    display: flex;
    padding: 20px 50px;
    gap: 20px;
    justify-content: left;
    padding-bottom: 40px;
    font-size: 16px;
    cursor: pointer;

}
.btn{
    margin-top: 5px;
}
.logo{
    margin-top: 0px;
    padding-top: 0;
}
.réalisation{
    display: flex;
    padding-bottom: 5.2% ;
    background-color: rgb(252, 225, 243);
    text-align: left;
    padding-left: 80px;

  
}
.para{
    height:auto;;
    width: 76%;
    text-align: left;
    margin-top:70px ;
padding-left: 10px;
display: flex;
flex-direction: column;
gap: 10px;
    

}
.image{
    padding-left: auto;
    padding-right:240px;
height: 100px;
padding-top: 15px;
margin-left: 40px;

}
.projet{
    display: flex;
    justify-content: center;
    gap: 220px;
    text-align: center;
}
.contenu{
    justify-content: center;
    padding-left: 300px;
    padding-right:300px ;
    text-align: center;
    font-size: small;
}
.propo{
    background-color: black;
    color: aliceblue;
    padding-top: 50px;
    padding-bottom: 50px;

}
.h3{
    margin-left: 560px;
    margin-right: 80px ;

}
.p2{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.h{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(250, 177, 211);
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 2px;
    font-size: large;
}
.p{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    display:block;
    vertical-align: top;
    margin: 0;
}
.par{
justify-content: center;
}
.services{
    text-align: center;

}
#services{
    padding:50px ;

}
.in{
    display: flex;
}
.vid{
    display: flex;
    text-align: center;
    justify-content: center;
 
}
.rea{
    text-align: center;
    align-items: center;

       
}
.conteneur{
padding: 50px;
background:-o-repeating-linear-gradient(to bottom, pink
 25%, red 75%);

}
.vi{
    display: flex;
    justify-content: center;
    text-align: center;
}
.icone{
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap: 20px;
    text-align: left;
    padding-top: 30px;
}
.pa{
    
    text-align: left;
    padding-left: 3px;
    padding-top: 5px;
}
.d{
padding-top: 20px;
padding-left:90px ;
padding-right:90px;
margin-left: 200px;
margin-right: 200px;
}
.lien{
    padding: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.bon{
    padding-top:  20px;
    margin-bottom: 0px;
    display: flex;
justify-content: space-between;
}
.h2{
    padding-top:  20px;
    margin-left: 5px;
    text-align: left;
}
.orga{
    display: flex;
    justify-content: center;
    gap: 140px;
    padding-top: 40px;
    margin-right: 200px;
    margin-left: 200px;
    

}
.de{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 30px;
       
    
}
.di{
     padding-left: 100px;
        padding-right: 100px;
}
.img{
    margin: 0%;
    padding-left: 30cap;
}
#btn-1{
    color: rgb(245, 248, 252);
    background-color: black;
    border-color: black;
    border-radius:5px ;
    margin: 20px;
     padding: 15px;
    margin-left:10px ;
     margin-right: 10px;
}
#cv{
    color: rgb(244, 247, 250);
    background-color: black;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
}
.or{ background-color: aqua;}


#réel{
    background-color: rgb(255, 255, 255);
    border-color: rgb(131, 100, 126);
    border-radius: 5px;
    padding: 10px;
}
.nom{
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left:50px ;
    padding-top: 0px;
}
.body{
    padding: 0%;
}
body{
    height: auto;
    width: auto;
}
h1{
    font-size: 4ch;
}




